
<!-- 
{{#if error_msg}}
    <p class ="error">{{error_msg}}</p>
{{/if}}

{{#if success_msg}}
    <p class ="success">{{success_msg}}</p>
{{/if}}
-->

<!-- 
{{#if success_msg}}
<div class="row">
  <div class="col s12 card-panel z-depth-0 green lighten-5">
    <h6 class="green-text text-darken-2"><strong>{{success_msg}}</strong></h6>
  </div>
</div>
{{/if}}
-->