<div class = "topBar">
    <a href = "/getHome"><h1>Profs To Pick</h1></a>
    <a href = "/allProfs" class = "page" style = "margin-right: 3%;">View All Profs</a>
    <a href = "/allColleges" class = "page">View By College</a><br>

    <div class = "dropdown">
        <button onclick="dropSearch()" class = "searchbttn"><img src="/images/search.png" alt="search" width="60" height="60"></button>
        <div id="myDropsearch" class="dropdown-content">
            <input type="text" placeholder="Search..." id="myInput">
        </div>
    </div>
    
    <div class="dropdown">
        <button onclick="dropDown()" class="profilebttn"><img src="/images/user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/user/">{{thisProfile}}Profile</a>
            <a href="/logout">Sign Out</a> <!--This is temp. Need to have controller for logout -->
        </div>
    </div>
</div>

<button onclick="topFunction()" id="goUp" title="Go to top"><img src="/images/up.png" alt="search" width="60" height="60"></button>
