<html>
    <head>
        <title>College of Science</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/percollege.css">
        <script type="text/javascript" src="/js/topBar.js"></script> 

    </head>
    <body>
        {{> topBar}}
        <h1 class = "mainCollege">College of Science</h1>
        <br>

        <div class = "college" style="margin-top: 50px;" >
            {{#each profPreviews}}
                {{> profPreview}}
            {{/each}}
            
        </div>
    
        <footer>
            <div class = "footer">
                <p>CCAPDEV MP<br>Atienza, Capada, Garcia</p>
            </div>
        </footer>
    </body>
</html>