<html>
    <head>
        <title>View All Profs</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/percollege.css">
        <script type="text/javascript" src="/js/topBar.js"></script> 
    </head>
    <body>
        {{> topBar}}
        <h1 class = "mainCollege" style = "top: 170px; left: 600px;">All Professors</h1><br>

        <div class = "college">
            {{#each profEntries}}
                {{> profPreview profname=profname email=email college=college department=department stars=stars}}
            {{/each}}
        </div>

       {{> footer}}
        
    </body>
</html>