<html>
    <head>
        <title>View All Profs</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/percollege.css">
        <script type="text/javascript" src="/js/topBar.js"></script> 

    </head>
    <body>
        {{> topBar}}
        <h1 class = "mainCollege" style = "top: 170px; left: 600px;">All Professors</h1>
        <br>

        <div class = "college">
                <a href = "profpage.html">
                <button class = "button">
                    <h1 style = "margin-left: 10px">Arturo Caronongan</h1>
                    <p class = "collegeTitle">College of Computer Studies</p> 
                    <p class = "desc" style = "margin-left: 10px; margin-top: 70px;">Description: Easy Workload, Approachable</p>
                    <div class = "profPic"><img src="user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div>
                    <p class = "rate" style = "margin-left: 10px">5.0</p>
                </button>
                </a>

                <a href = "profpage.html">
                <button class = "button two">
                    <h1 style = "margin-left: 10px">Arturo Caronongan</h1>
                    <p class = "collegeTitle" style = "margin-left: 10px">College of Science</p> 
                    <p class = "desc" style = "margin-left: 10px; margin-top: 70px;">Description: Easy Workload, Approachable</p>
                    <div class = "profPic"><img src="user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div>
                    <p class = "rate" style = "margin-left: 10px">5.0</p>  
                </button>
                </a>

                <a href = "profpage.html">
                <button class = "button three">
                    <h1 style = "margin-left: 10px">Arturo Caronongan</h1>
                    <p class = "collegeTitle" style = "margin-left: 10px">College of Engineering</p> 
                    <p class = "desc" style = "margin-left: 10px; margin-top: 70px;">Description: Easy Workload, Approachable</p>
                    <div class = "profPic"><img src="user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div>
                    <p class = "rate" style = "margin-left: 10px">5.0</p>
                </button>
                </a>
                
                <a href = "profpage.html">
                <button class = "button four">
                    <h1 style = "margin-left: 10px">Arturo Caronongan</h1>
                    <p class = "collegeTitle" style = "margin-left: 10px">College of Education</p> 
                    <p class = "desc" style = "margin-left: 10px; margin-top: 70px;">Description: Easy Workload, Approachable</p>
                    <div class = "profPic"><img src="user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div>
                    <p class = "rate" style = "margin-left: 10px">5.0</p>
                </button>
                </a>  
        </div>

         
        <footer>
            <div class = "footer">
                <p>CCAPDEV MP<br>Atienza, Capada, Garcia</p>
            </div>
        </footer>
        
    </body>
</html>