<html>
    <head>
        <title>View All Profs</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/percollege.css">
        <script type="text/javascript" src="/js/topBar.js"></script> 

    </head>
    <body>
        {{> topBar}}
        <h1 class = "mainCollege" style = "top: 170px; left: 600px;">All Professors</h1>
        <br>

        <div class = "college">
            <a href = "/profPage">
                <div class = "button" type ="button" >
                    <div>
                        <div class = "profPic"><img src="/images/user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div>
                    </div>
                    <!--  <p class = "collegeTitle">College of Computer Studies</p> -->
                    <div class = "profText"> 
                        <h1>Arturo Caronongan</h1> <br>
                        <p>Email</p><br>
                        <p>College</p><br>
                        <p>Department</p><br>
                        <p>Overall Rating: 5.0</p><br>
                    </div>
                </div>
            </a>
        </div>

         
        <footer>
            <div class = "footer">
                <p>CCAPDEV MP<br>Atienza, Capada, Garcia</p>
            </div>
        </footer>
        
    </body>
</html>