<html>
    <head>
        <title>View By College</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/colleges.css">
        <script type="text/javascript" src="/js/topBar.js"></script> 
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{> topBar}}

        <h1 class = "allColleges">All Colleges</h1>

        <div class = "colleges">

            <a href = "/cob"><div class = "collegeChoice" id = "cob">College of Business</div></a>
            <a href = "/ccs"><div class = "collegeChoice" id = "ccs">College of Computer Studies</div></a>
            <a href = "/soe"><div class = "collegeChoice" id = "soe">School of Economics</div></a> 
        </div>   
        
        <div class = "colleges">
            <a href = "/coed"><div class = "collegeChoice" id = "coed">College of Education</div></a>
            <a href = "/coe"><div class = "collegeChoice" id = "coe">College of Engineering</div></a>
            <a href = "/colaw"><div class = "collegeChoice" id = "colaw">College of Law</div></a>            
        </div>


        <div class = "colleges">
            <a href = "/cla"><div class = "collegeChoice" id = "cla">College of Liberal Arts</div></a>
            <a href = "/cos"><div class = "collegeChoice" id = "cos">College of Science</div></a>
        </div>

        </div>    
        
        <footer>
            <div class = "footer">
                <p>CCAPDEV MP<br>Atienza, Capada, Garcia</p>
            </div>
        </footer>
        
    </body>
</html>