<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/home2.css">
        <script type="text/javascript" src="/js/topBar.js"></script>  

    </head>
    <body>
        {{> topBar}}

        <div class = "welcome">
            <h1>WELCOME</h1> 
            <input type="text" placeholder="Search..">
        </div>

        <div class = "parent-div">
        <div class = "latestreviews">
            <h2>Latest Reviews</h2>
            <div class = "ratePreview">
                {{#each reviewEntries}}
						{{> review reviewer=reviewer profname=profname subject=subject review=review stars=stars date=date}}
				{{/each}}
            
            </div>
        </div>

    </div>

    <div class = "spacing"></div>

    <footer>
        <div class = "footer" style ="margin-top: -5%;">
            <p>CCAPDEV MP<br>Atienza, Capada, Garcia</p>
        </div>
    </footer>

    </body>
</html>