<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/home2.css">
        <script type="text/javascript" src="topBar.js"></script>  

    </head>
    <body>
        {{> topBar}}

        <div class = "welcome">
            <h1>WELCOME</h1> 
            <input type="text" placeholder="Search..">
        </div>

        <button onclick="topFunction()" id="goUp" title="Go to top"><img src="up.png" alt="search" width="60" height="60"></button>

        <div class = "parent-div">
        <div class = "latestreviews">
            <h2>Latest Reviews</h2>
            <div class = "ratePreview">
                {{#each reviewEntries}}
						{{> review imagePath=imagePath reviewer=reviewer reviewee_u=reviewee_u reviewee=reviewee revCourse=revCourse revStar=revStar revDet=revDet}}
				{{/each}}
               <!--- <div class = "overallRating">
                    <p class = "overall">Overall</p>
                    <h4>5.0</h4>
                </div>
                <div class = "textPreview">
                    <a href="profpage.html"><h3>Arturo Caronongan<br></a>
                    <p class = "subject">CCAPDEV</p></h3>
                    <p class = "description">Sir is very outgoing...</p></h3>
                </div>
            </div> 

            <div class = "ratePreview">
                <div class = "overallRating">
                    <p class = "overall">Overall</p>
                    <h4>5.0</h4>
                </div>
                <div class = "textPreview">
                    <a href="profpage.html"><h3>Shirley Chu<br></a>
                    <p class = "subject">CCAPDEV</p></h3>
                    <p class = "description">Miss is very thorough...</p></h3>
                </div>
            </div>

            <div class = "ratePreview">
                <div class = "overallRating">
                    <p class = "overall">Overall</p>
                    <h4>5.0</h4>
                </div>
                <div class = "textPreview">
                    <a href="profpage.html"><h3>Mutya Teodoro-Sambile<br></a>
                    <p class = "subject">GEARTAP</p></h3>
                    <p class = "description">Miss is very fun...</p></h3>
                </div> -->
            </div>
        </div>

    </div>

    <div class = "spacing"></div>

    <footer>
        <div class = "footer" style ="margin-top: -5%;">
            <p>CCAPDEV MP<br>Atienza, Capada, Garcia</p>
        </div>
    </footer>

    </body>
</html>