<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/home2.css">
        <link rel="stylesheet" href="/css/profiles.css">
        <script type="text/javascript" src="/js/topBar.js"></script>  

    </head>
    <body>
        {{> topBar}}

        <div class = "welcome">
            <h1>WELCOME</h1> 
            <input type="text" placeholder="Search..">
        </div>

        <!-- <div class = "parent-div">-->
            <div class = "latestreviews">
                <h2 >Latest Reviews</h2>
                {{#each reviewEntries}}
                    {{> review reviewer=reviewer profname=profname subject=subject review=review stars=stars date=date}}
                {{/each}}
    
            <!--
            <div class = "ratePreview">
            </div>
            -->
            </div>

        <!-- </div> -->

    {{> footer}}

    </body>
</html>