<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/profiles.css">
        <script type="text/javascript" src="/js/topBar.js"></script>  

    </head>
    <body>
        {{> topBar}}

        <div class = "welcome">
            <h1>WELCOME</h1> 
            <div class = "about">
                <h2>About</h2><br>
                <p>
                    This is DLSU's Prof to Pick Facebook page displayed as a web application. 
                    In this website, users can search for reviews on DLSU professors from different colleges.
                    Each review is anonymously posted and users can edit or delete their own reviews. This is a project
                    is in submission for CCAPDEV T2AY2021-2022.
                </p>
            </div>
        </div>

        <div class = "latestreviews">
            <h2>Latest Reviews</h2>
            <div style = "margin-top: 50px;"></div>
            {{#each reviewEntries}}
                {{> review reviewer=reviewer profname=profname subject=subject review=review stars=stars date=date}}
            {{/each}}
        </div>

    {{> footer}}

    </body>
</html>