<html>
    
    <head>
        <title>Rating a Professor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/invertstyle.css">

        <script type="text/javascript" src="topBar.js"></script>  
        
        <style>
            body
            {
                margin:0px;
                padding: 0px;
                overflow-x: hidden; 
                background-color: #375222;
            }
            
            .profTitle {
                margin-top: 0.7vw;
                margin-left: 8%;
                height: 400px;
                width: 1200px;
                position:relative;
                font-family: 'Basic', sans-serif;
            }
    
            .profTitle h1{        
                position: absolute;
                width: 443px;
                height: 99px;
                margin-left: 30%;
                top: 0px;
                font-weight: bold;
                font-size: 45px;
                line-height: 81px;
                color: white;
            }
            .profTitle p{
                position: absolute;
                width: 443px;
                height: 99px;
                margin-left: 30%;
                font-size: 28px;
                line-height: 81px;
                color: white;
            }
            .profPic{
                position: absolute;
                width: 270px;
                height: 270px;
                top: 15px;
                border-radius: 50%;
                background: #e7e6e6;
                
            }
            .caption
            {
                margin-top: 250px;
                margin-left: 85px;
                font-weight: bold; 
                font-size: 80px;
                color: white;
            }
    
            .writeReview{
                float: none;
                width: 1150px;
                height: 1200px;
                margin-top: 127px;
                margin-left: auto;
                margin-right: auto;
                /* border: solid thick white; */
                color: white;
                font-size: 50px;
            }
    
            .writeReview h1{
                font-size: 80px;
                text-align: center;
                margin-bottom: 60px;
            }
    
            .subject {
                width: 500px;
                height: 50px;
                font-size: 24px;
                padding:10px;
                margin-bottom: 50px;
                border-radius: 15px;
                border: none;
    
            }
            .descrip {
                width: 1100px;
                height: 500px;
                font-size: 24px;
                padding:10px;
                margin-bottom: 50px;
                border-radius: 25px;
    
            }
    
            .check {
                height: 30px;
                width: 30px;
            }
    
            .starRating {
                margin-top: -10px;
                width: 100px;
                height: 60px;
                text-align: center;
                font-size: 32px;
                border-radius: 15px;
                border: none;
            }
    
           
            .submit{
                border: none;
                background-color: #3BAF55;
                color:white;
                width: 1140px;
                height: 64px;
                font-size: 18px;
                border-radius: 12px;
                cursor: pointer;
                text-align: center;
                align-self:center;
                
            }
    
            .submit:hover {
                background-color: white;
                color: #375222;
            }
    
            .submitRev {
                height: 75px;
                width: 1150px;
                margin-left: auto;
                margin-right: auto;
                background-color: #3BAF55;
                color:white;
                border:none;
                font-size: 18px;
                border-radius: 12px;
                cursor: pointer;
                text-align: center;
                align-self:center;
            }
    
            .submitRev:hover {
                background-color: white;
                color: #375222;
            }
    
            h2{
                color: #375222;
                margin-top: 20px;    
                text-align: center; 
                font-size: 64px;
                }
    
            .specialFooter {
                position: absolute;
                flex-direction: column;
                text-align: center;
                width: 100%;
                height: 75px;
                color: #375222;
                background: white;
                /* margin-top: 10%;*/
            }
    
        </style>
    </head>
    <body>

        <div class = "specialtopBar">
            <a href = "home.html"><h1>Profs To Pick</h1></a>
            <a href = "allProfs.html" class = "page" style = "margin-right:3%;">View All Profs</a>
            <a href = "colleges.html" class = "page">View By College</a><br>
            <div class = "dropdown">
                <button onclick="dropSearch()" class = "searchbttn"><img src="/images/graysearch.png" alt="search" width="60" height="60"></button>
                <div id="myDropsearch" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput">
                </div>
            </div>
            
            <div class="dropdown">
                <button onclick="dropDown()" class="profilebttn"><img src="/images/user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="profile.html">Profile</a>
                    <a href="login.html">Sign Out</a>
                </div>
            </div>
        </div>

        <button onclick="topFunction()" id="goUp" title="Go to top"><img src="/images/up.png" alt="search" width="60" height="60"></button>

        <div class = "profTitle">
            <div class = "profPic"><img src="/images/user.png" alt="search" style = "max-width: 100%; max-height: 100%;"></div>
            <h1>Professor's Name</h1><br>
            <p style="margin-top: 45px;">College</p>
            <p style="margin-top: 105px;">Subjects Taught</p>
            <p style= "margin-top: 165px;">Email</p> <br>
            <div class = "caption">5.0</div>
        </div>

        <form action="/submit-post" method="post" enctype="multipart/form-data" class = "writeReview" action = "/profpage">
            <h1>Write a Rating</h1> 
            Subject Taught <br> <input name="title" type="text" class ="subject"/> <br>
            Description <br> <textarea name="content" class = "descrip" rows="10" cols="30"> </textarea> <br>

            <input name = "stars" type="number" class="starRating" max="5" min ="1"> Stars <br>  <br> 
            <input type="submit" class = "submitRev">
        </form>
        {{> footer}}
        
    </body>
</html>