<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/account.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class = "login">
            <h1 class = "welcomeh1" style = "margin-bottom: 10px;">DLSU Profs To Pick</h1>

            <form method="POST" action = "/login" autocomplete="off"> 
                <p class = "label">User ID</p>
                <input class = "inputtxt" type="text" id="studentid" name = "studentid" >
                <p class = "label">Password</p>
                <input class = "inputtxt" type="password" id="password" name = "password"><br><br>
                <input class = "accountbttn" type="submit" value = "Log in">
            </form>

            <p style = "margin-left:168px; margin-bottom: 5px; color: #FFFFFF;">Don't have an account?</p>
            <a href = "/register" style = "margin-left:200px;">Register Here</a>

        </div>

        </div>

    </body>
</html>