<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/css/account.css">
    </head>
    <body>
        <div class = "register">
            <h1 class = "welcomeh1">DLSU Profs To Pick</h1>
            <p class = "label">Student ID</p>
            <input class = "inputtxt" type="number" id="studentid" name = "Student ID">
            <p class = "label">Name</p>
            <input class = "inputtxt" type="text" id="name" name = "Name">
            <p class = "label">Email</p>
            <input class = "inputtxt" type="email" id="email" name = "Email">
            <p class = "label">Password</p>
            <input class = "inputtxt" type="password" id="pw" name = "Password">
            <p class = "label">Confirm Password</p>
            <input class = "inputtxt" type="password" id="confirmpw" name = "Confirm Password">
            <br><br>
            <a href = "home.html"><button class = "accountbttn" type="button">Register</button> </a>
            
            <p style = "margin-top: 10px;margin-left:163px; margin-bottom: 5px;color: #FFFFFF;">Have an account already?</p>
            <a href = "/" style = "margin-left:207px;">Login Here</a>
        </div>
    </body>
</html>