@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

.college {
    width:1200px;
    height:max-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Basic', sans-serif;
    margin-top: 50px;
    display: block;
}

.mainCollege {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;    
    text-align: center;
    text-decoration-line: underline;
    color: #375222;
}

.button {
	margin-top: 0px;
    position: relative;
    width:1200px;
    height: 300px;
    margin-bottom: 5%;
    text-align: center;

    background-color: #375222;
    border: none;
    border-radius: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    font-family: 'Basic', sans-serif;
    text-decoration: none;

}

.button:hover {
    border: solid 2px #375222;
    background-color: rgb(15, 82, 15);
}

.profPic{
    position: absolute;
    width: 200px;
    height: 2000px;
    margin-left: 75px;
    border-radius: 50%;
    margin-top: 50px;

}

.profText {
    height: 225px;
    width: 700px;
    margin-top: 30px;
    margin-left: 350px;
    text-decoration: none;
    
}

.profText p{
    font-size: 24px;
    color: white;
    margin-top: -10px;
    text-align: left;
    text-decoration: none;
}

.profText h1{
    font-size: 48px;
    color: white;
    text-align: left;

}